@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

:root {
  --navbar-text: #f7fafc;
  --main-blue: #1c3d5a;
  --gold-gradient: linear-gradient(
    0deg,
    #d4af37 9%,
    #ffe798 48%,
    #d4af37 88%
  );
  --main-gold: #d4af37;
  --body-background: #E7ECF0;
  --main-font: ('Playfair Display', serif);
  --second-font: 'Inter', sans-serif;
  --card-background: #ffffff;
}
